body {
    text-align: center;
    background-color: #211B6B;
}

#title {
    color: #FFF;
    font-family: helvetica;
    font-size: 50px;
    text-decoration: underline;
}

button {
    padding: 15px;
    border-radius: 6px;
    border-color: #FF9C50;
    background-color: #FF9C50;
    outline: none;
}

.reset {
    margin-top: 10px;
    margin-bottom: 50px;
}

.container {
    display: grid;
    background-color: #FFF;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;
}

.center {
    margin: 0 auto;
}

.square {
    border: 0.5px solid #000;
    padding: 0;
    margin: 0;
}