body {
    text-align: center;
}

.reset {
    margin-top: 10px;
    margin-bottom: 100px;
}

.container {
    display: grid;
    width: 416px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 0;
}

.center {
    margin: 0 auto;
}

.square {
    border: 2px solid #000;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}