body {
    text-align: center;
}

.reset {
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    width: 416px; /*width set to 416 to accomodate 4px from border*/
    flex-wrap: wrap;
}

.center {
    margin: 0 auto;
}

.square {
    border: 2px solid #000;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}